In [46]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv("number.csv")

In [34]:
df.drop(["uid"], axis=1, inplace=True)
df.head()

,hand,x0,y0,z0,x1,y1,z1,x2,y2,z2,...,x18,y18,z18,x19,y19,z19,x20,y20,z20,gesture
0,1,0.198411,0.747025,1.200000e-07,0.235151,0.738667,-0.022964,0.268972,0.697697,-0.038584,...,0.166481,0.619918,-0.061794,0.177274,0.658618,-0.052379,0.176243,0.672592,-0.041349,0
1,1,0.193464,0.728339,1.610000e-07,0.234930,0.710548,-0.018884,0.268882,0.653667,-0.028651,...,0.170634,0.575411,-0.053554,0.180758,0.614971,-0.042495,0.179107,0.638144,-0.028869,0
2,1,0.201815,0.668465,2.030000e-07,0.249525,0.622076,-0.010308,0.285454,0.563580,-0.020356,...,0.207042,0.479684,-0.046037,0.213964,0.526689,-0.033153,0.198493,0.541396,-0.017666,0
3,1,0.206287,0.617647,1.470000e-07,0.253612,0.584835,-0.013613,0.287096,0.523315,-0.023192,...,0.217125,0.442216,-0.052028,0.221329,0.489974,-0.040618,0.204648,0.504209,-0.026200,0
4,1,0.204903,0.588751,1.210000e-07,0.250742,0.558584,-0.014471,0.286239,0.495493,-0.023983,...,0.205936,0.419783,-0.054264,0.213251,0.468543,-0.043748,0.200633,0.485689,-0.029648,0

In [35]:
df.shape

(14390, 65)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14390 entries, 0 to 14389
Data columns (total 65 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   hand     14390 non-null  int64
 1   x0       14390 non-null  float64
 2   y0       14390 non-null  float64
 3   z0       14390 non-null  float64
 4   x1       14390 non-null  float64
 5   y1       14390 non-null  float64
 6   z1       14390 non-null  float64
 7   x2       14390 non-null  float64
 8   y2       14390 non-null  float64
 9   z2       14390 non-null  float64
 10  x3       14390 non-null  float64
 11  y3       14390 non-null  float64
 12  z3       14390 non-null  float64
 13  x4       14390 non-null  float64
 14  y4       14390 non-null  float64
 15  z4       14390 non-null  float64
 16  x5       14390 non-null  float64
 17  y5       14390 non-null  float64
 18  z5       14390 non-null  float64
 19  x6       14390 non-null  float64
 20  y6       14390 non-null  float64
 21  z6       14390 non-null  float64
 22  x7       14390 non-null  float64
 23  y7       14390 non-null  float64
 24  z7       14390 non-null  float64
 25  x8       14390 non-null  float64
 26  y8       14390 non-null  float64
 27  z8       14390 non-null  float64
 28  x9       14390 non-null  float64
 29  y9       14390 non-null  float64
 30  z9       14390 non-null  float64
 31  x10      14390 non-null  float64
 32  y10      14390 non-null  float64
 33  z10      14390 non-null  float64
 34  x11      14390 non-null  float64
 35  y11      14390 non-null  float64
 36  z11      14390 non-null  float64
 37  x12      14390 non-null  float64
 38  y12      14390 non-null  float64
 39  z12      14390 non-null  float64
 40  x13      14390 non-null  float64
 41  y13      14390 non-null  float64
 42  z13      14390 non-null  float64
 43  x14      14390 non-null  float64
 44  y14      14390 non-null  float64
 45  z14      14390 non-null  float64
 46  x15      14390 non-null  float64
 47  y15      14390 non-null  float64
 48  z15      14390 non-null  float64
 49  x16      14390 non-null  float64
 50  y16      14390 non-null  float64
 51  z16      14390 non-null  float64
 52  x17      14390 non-null  float64
 53  y17      14390 non-null  float64
 54  z17      14390 non-null  float64
 55  x18      14390 non-null  float64
 56  y18      14390 non-null  float64
 57  z18      14390 non-null  float64
 58  x19      14390 non-null  float64
 59  y19      14390 non-null  float64
 60  z19      14390 non-null  float64
 61  x20      14390 non-null  float64
 62  y20      14390 non-null  float64
 63  z20      14390 non-null  float64
 64  gesture  14390 non-null  int64
dtypes: float64(63), int64(2)
memory usage: 7.1 MB

In [37]:
from sklearn.model_selection import train_test_split

target = df["gesture"]
parameters = df.drop(["gesture"], axis=1)

del df

target = target.to_numpy()
parameters = parameters.to_numpy()

In [38]:
print(type(target), type(parameters))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [39]:
X_train, X_test, y_train, y_test = train_test_split(parameters, target, random_state=0)

In [40]:
print(
    type(X_train),
    type(X_test),
    type(y_train),
    type(y_test),
)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [41]:
from sklearn.svm import SVC

In [42]:
C = 1.0
GAMMA = 0.7

clf = SVC(kernel='rbf', gamma=GAMMA, C=C).fit(X_train, y_train)

In [57]:
C = 10.0
GAMMA = 0.8

clf = SVC(kernel='rbf', gamma=GAMMA, C=C).fit(X_train, y_train)

In [67]:
import pickle
pickle.dump(clf, open(f'../../model/number.pkl', 'wb'))

In [58]:
prediction = clf.predict(X_test)

print(np.mean(prediction == y_test))

0.9799888827126181